* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
header {
    height: 100vh;
    width: 100%;
    background-color: #4D9B9C;
    position: fixed;
    top:0;
    left:0;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}
main {
    height: 100vh;
    background-color: grey;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}

header img {
    position: absolute;
    bottom: 0;
    right: -75%;
    height: 74%;
}
header nav {
    position: absolute;
    right: 7%;
    top: 4%;
    font-size: 3rem;
}
header hgroup {
    position: absolute;
    top:12%;
    left: 10%;
    text-transform: uppercase;
    z-index: 1;
}

header h1 {
    font-size: 3.6rem;
}

header h3 {
    font-weight: 400;
    font-size: 2.6rem;

}
#arrow {
    width: 64px;
    height:64px;
    border: 3px solid white;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    font-size: 5rem;
    text-align: center;
    text-shadow: 0px -15px 0 white, 0 -30px 0 white;
    color: white;
    overflow: hidden;
    transition: 1s ease;
}
#arrow:hover {
    text-shadow: 0 -15px 0 black, 0 -30px 0 black;
    color: black;
    border-color: black;
    background-color: white;
    box-shadow: 0 0 5px 5px white;
    cursor: pointer;
}

.fa-angle-down {
    animation: arrow 1.4s infinite linear;
}
/*--------koniec headera------*/
/*MEDIA QUERIES*/
@media (orientation: portrait) {
    h3 span::after {
        content: '\A';
        /*zrób enter*/
        white-space: pre;
        /*aby widać było enter*/
    }
}


@media (orientation: landscape) {
    header img {
        height: 80%;
        right:-11%;
    }
}

@media (min-width: 530px) {

}
@media (min-width: 530px) and (orientation: portrait) {}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (orientation: portrait) {}

@media (min-width:1280px) {

}
@media (min-width: 1280px) and (orientation: portrait) {}
    
@media (min-width: 1600px) {

}
@media (min-width: 1600px) and (orientation: portrait) {}

@media (max-width: 320px) {
    header h3 {
        font-size: 2.4rem;
    }
    header hgroup {
        transform: rotate(-15deg);
    }
}

/*ANIMACJE CSS*/
@keyframes arrow  {
    0% {transform: translateY(-80px);}
    50% {transform: translateY(0);}
    100% {transform: translateY(80px);}
}
